interactions:
- request:
    body: '{"properties": {"tags": {"cliName1": "cliValue1", "cliName2": "cliValue2"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_tag_get_resourcegroup000001/providers/Microsoft.Resources/tags/default?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_tag_get_resourcegroup000001/providers/Microsoft.Resources/tags/default","name":"default","type":"Microsoft.Resources/tags","properties":{"tags":{"cliName1":"cliValue1","cliName2":"cliValue2"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_tag_get_resourcegroup000001/providers/Microsoft.Resources/tags/default?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 200
      message: OK
version: 1
