interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent","namespace":"Microsoft.Confluent","authorizations":[{"applicationId":"1448fd13-7e74-41f4-b6e3-17e485d8ac2e","roleDefinitionId":"4db34280-b0be-4827-aa5b-418391409cee"}],"resourceTypes":[{"resourceType":"operations","locations":[],"apiVersions":["2024-07-01-preview","2024-07-01","2024-03-20-preview","2024-02-13","2024-02-05-preview","2024-01-12-preview","2023-10-03-preview","2023-08-22","2023-07-11-preview","2023-02-09-preview","2022-10-07-preview","2022-07-21-preview","2022-04-10-preview","2021-12-01","2021-09-01-preview","2021-03-01-preview","2020-03-01-preview","2020-03-01"],"defaultApiVersion":"2024-07-01","capabilities":"None"},{"resourceType":"locations","locations":[],"apiVersions":["2024-07-01-preview","2024-07-01","2024-03-20-preview","2024-02-13","2024-02-05-preview","2024-01-12-preview","2023-10-03-preview","2023-08-22","2023-07-11-preview","2023-02-09-preview","2022-10-07-preview","2022-07-21-preview","2022-04-10-preview","2021-12-01","2021-09-01-preview","2021-03-01-preview","2020-03-01-preview","2020-03-01"],"defaultApiVersion":"2024-07-01","capabilities":"None"},{"resourceType":"locations/OperationSta[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent/unregister?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent","namespace":"Microsoft.Confluent","authorizations":[{"applicationId":"1448fd13-7e74-41f4-b6e3-17e485d8ac2e","roleDefinitionId":"4db34280-b0be-4827-aa5b-418391409cee[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent/register?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent","namespace":"Microsoft.Confluent","authorizations":[{"applicationId":"1448fd13-7e74-41f4-b6e3-17e485d8ac2e","roleDefinitionId":"4db34280-b0be-4827-aa5b-418391409cee"}],"resourceTy[...]
[...]
- request:
    body: '{"properties": {"accepted": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent/agreements/default?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent/agreements/default","name":"default","type":"microsoft.confluent/agreements","properties":{"publisher":null,"product":null,"plan":null,"licenseTextLink":null,"privacyPolicyLink":null,"retrieveDatetime":null,"signature":null,"accepted":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f56dd8f5-a554-4b18-a666-a390ac6cd407
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '19999'
    status:
      code: 200
      message: OK
[...]
