interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus\"},
      \"name\": {\"value\": \"azure-cli-deploy-test-nsg1\"}}, \"mode\": \"Incremental\",
      template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"metadata\": {\n        \"description\": \"Location for the network security
      group.\"\n      }\n    },\n    \"name\": {\n      \"type\": \"string\",\n      \"metadata\":
      {\n        \"description\": \"Name of the network security group.\"\n      }\n
      \   }\n  },\n  \"variables\": {\n  },\n  \"resources\": [\n    {\n      \"type\":
      \"Microsoft.Network/networkSecurityGroups\",\n      \"name\": \"[parameters('name')]\",\n
      \     \"apiVersion\": \"2015-06-15\",\n      \"location\": \"[parameters('location')]\",\n
      \     \"properties\": {\n        \"securityRules\": [\n        ]\n      },\n
      \     \"dependsOn\": [ ]\n    }\n  ],\n  \"outputs\": {\n    \"NewNSG\": {\n
      \     /** comment1\n          comment2\n          comment3\n      **/\n      //
      comment\n      /** comment **/\n      \"type\": \"object\", /** comment **/\n
      \     \"value\": \"[reference(parameters('name'))]\" // comment\n      // comment\n
      \     /** comment **/\n      /** comment1\n          comment2\n          comment3\n
      \     **/\n    }\n  } // comment\n}\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/simple_deploy","name":"simple_deploy","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6836373655278635521","parameters":{"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"azure-cli-deploy-test-nsg1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-04-08T17:58:00.9760577Z","duration":"PT0S","correlationId":"47aa2593-15c1-478b-a5c7-0aabbce42d3a","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n    },\n    \"variables\":
      {\n        \"alertLocation\": \"japaneast\",\n        \"alertName\": \"armtemplate-alert-japanese-utf8\",\n
      \       \"alertDescription\": \"\u3053\u3053\u306B\u65E5\u672C\u8A9E\u3067\u8AAC\u660E\u3057\u307E\u3059\u3002\",\n
      \       \"alertStatus\": \"true\",\n        \"alertSource\": {\n            \"Query\":
      \"requests\",\n            \"SourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/test-rg/providers/microsoft.insights/components/my-insight\",\n
      \           \"Type\": \"ResultCount\"\n        },\n        \"alertSchedule\":
      {\n            \"Frequency\": 15,\n            \"Time\": 60\n        },\n        \"alertActions\":
      {\n            \"SeverityLevel\": \"3\"\n        },\n        \"alertTrigger\":
      {\n            \"Operator\": \"GreaterThan\",\n            \"Threshold\": \"50\"\n
      \       },\n        \"actionGrp\": {\n            \"ActionGroup\": \"/subscriptions/{subscriptionId}/resourcegroups/default-activitylogalerts/providers/microsoft.insights/actiongroups/send-email\",\n
      \           \"Subject\": \"Customized Email Header\",\n            \"Webhook\":
      \"{ \\\"alertname\\\":\\\"#alertrulename\\\", \\\"IncludeSearchResults\\\":true
      }\"\n        }\n    },\n    \"resources\": [\n        {\n            \"name\":
      \"[variables('alertName')]\",\n            \"type\": \"Microsoft.Insights/scheduledQueryRules\",\n
      \           \"apiVersion\": \"2018-04-16\",\n            \"location\": \"[variables('alertLocation')]\",\n
      \           \"properties\": {\n                \"description\": \"[variables('alertDescription')]\",\n
      \               \"enabled\": \"[variables('alertStatus')]\",\n                \"source\":
      {\n                    \"query\": \"[variables('alertSource').Query]\",\n                    \"dataSourceId\":
      \"[variables('alertSource').SourceId]\",\n                    \"queryType\":
      \"[variables('alertSource').Type]\"\n                },\n                \"schedule\":
      {\n                    \"frequencyInMinutes\": \"[variables('alertSchedule').Frequency]\",\n
      \                   \"timeWindowInMinutes\": \"[variables('alertSchedule').Time]\"\n
      \               },\n                \"action\": {\n                    \"odata.type\":
      \"Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction\",\n
      \                   \"severity\": \"[variables('alertActions').SeverityLevel]\",\n
      \                   \"aznsAction\": {\n                        \"actionGroup\":
      \"[array(variables('actionGrp').ActionGroup)]\",\n                        \"emailSubject\":
      \"[variables('actionGrp').Subject]\",\n                        \"customWebhookPayload\":
      \"[variables('actionGrp').Webhook]\"\n                    },\n                    \"trigger\":
      {\n                        \"thresholdOperator\": \"[variables('alertTrigger').Operator]\",\n
      \                       \"threshold\": \"[variables('alertTrigger').Threshold]\"\n
      \                   }\n                }\n            }\n        }\n    ]\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus\"},
      \"name\": {\"value\": \"azure-cli-deploy-test-nsg1\"}}, \"mode\": \"Incremental\",
      template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"metadata\": {\n        \"description\": \"Location for the \n        network
      security group.\"\n      }\n    },\n    \"name\": {\n      \"type\": \"string\",\n
      \     \"metadata\": {\n        \"description\": \"\n                                string
      username = \\\"UNKNOWN\\\";\\r\\n\n                    \"\n      }\n    }\n
      \ },\n  \"variables\": {\n  },\n  \"resources\": [\n    {\n      \"type\": \"Microsoft.Network/networkSecurityGroups\",\n
      \     \"name\": \"[parameters('name')]\",\n      \"apiVersion\": \"2015-06-15\",\n
      \     \"location\": \"[parameters('location')]\",\n      \"properties\": {\n
      \       \"securityRules\": [\n        ]\n      },\n      \"dependsOn\": [ ]\n
      \   }\n  ],\n  \"outputs\": {\n    \"Empty\": {\n        \"type\": \"string\",\n
      \       \"value\": \"\"\n    },\n    \"NewNSG\": {\n      /** comment1\n          comment2\n
      \         comment3\n      **/\n      // comment\n      /** comment **/\n      \"type\":
      \"object\", /** comment **/\n      \"value\": \"[reference(parameters('name'))]\"
      // comment\n      // comment\n      /** comment **/\n      /** comment1\n          comment2\n
      \         comment3\n      **/\n    }\n  } // comment\n}\n}}"
    headers:
   [...]
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus\"},
      \"name\": {\"value\": \"azure-cli-deploy-test-nsg1\"}}, \"mode\": \"Incremental\",
      template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"metadata\": {\n        \"description\": \"Location for the network security
      group.\"\n      }\n    },\n    \"name\": {\n      \"type\": \"string\",\n      \"metadata\":
      {\n        \"description\": \"Name of the network security group.\"\n      }\n
      \   },\n    \"extra_param\": {\n      \"type\": \"string\",\n      \"metadata\":
      {\n        \"description\": \"Useless redundant parameters.\"\n      }\n    }\n
      \ },\n  \"variables\": {\n  },\n  \"resources\": [\n    {\n      \"type\": \"Microsoft.Network/networkSecurityGroups\",\n
      \     \"name\": \"[parameters('name')]\",\n      \"apiVersion\": \"2015-06-15\",\n
      \     \"location\": \"[parameters('location')]\",\n      \"properties\": {\n
      \       \"securityRules\": [\n        ]\n      },\n      \"dependsOn\": [ ]\n
      \   }\n  ],\n  \"outputs\": {\n    \"NewNSG\": {\n      /** comment1\n          comment2\n
      \         comment3\n      **/\n      // comment\n      /** comment **/\n      \"type\":
      \"object\", /** comment **/\n      \"value\": \"[reference(parameters('name'))]\"
      // comment\n      // comment\n      /** comment **/\n      /** comment1\n          comment2\n
      \         comment3\n      **/\n    }\n  } // comment\n}\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2024-11-01
  response:
    body:
      string: '{"error":{"code":"InvalidTemplate","message":"Deployment template validation
        failed: ''The value for the template parameter ''extra_param'' at line ''18''
        and column ''20'' is not provided. Please see https://aka.ms/arm-create-parameter-file
        for usage details.''.","additionalInfo":[{"type":"TemplateViolation","info":{"lineNumber":18,"linePosition":20,"path":"properties.template.parameters.extra_param"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus\"},
      \"name\": {\"value\": \"azure-cli-deploy-test-nsg1\"}}, \"mode\": \"Incremental\",
      template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"met[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584574717973673707?api-version=2024-11-01&t=638797318895488955&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002","name":"azure-cli-resource-group-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6836373655278635521","parameters":{"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"azure-cli-deploy-test-nsg1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-04-08T17:58:15.1070097Z","correlationId":"ef8a7d79-2188-4f85-ac9b-ae8b27ba29ab","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"newNSG":{"type":"Object","value":{"provisioningState":"Succeeded","resourceGuid":"dbf0d62d-fa0d-4979-ba2e-2a164d572d93","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1/defaultSecurityRules/AllowVnetInBound","etag":"W/\"8ae98b1c-3618-448a-91c7-ca08a1c61870\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Succeeded","description":"Allow
        inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound"}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1/defaultSecurityRules/AllowAzureLoadBalancerInBound","etag":"W/\"8ae98b1c-3618-448a-91c7-ca08a1c61870\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Succeeded","description":"Allow
        inbound [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584574717621346044?api-version=2024-11-01&t=638797319264483557&c=MIIHhzCCBm-gAwIBAgITfAaTYo0ffVKAVQo0FAAABpNijTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002","name":"azure-cli-resource-group-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2470825490270294517","parameters":{"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"azure-cli-deploy-test-nsg1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-04-08T17:58:50.9915519Z","correlationId":"f7d86888-802b-4240-ad79-2ba176a61214","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"empty":{"type":"String","value":""},"newNSG":{"type":"Object","value":{"provisioningState":"Succeeded","resourceGuid":"dbf0d62d-fa0d-4979-ba2e-2a164d572d93","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1/defaultSecurityRules/AllowVnetInBound","etag":"W/\"8ae98b1c-3618-448a-91c7-ca08a1c61870\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deplo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Res[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2024-11-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"location":{"defaultValue":"[resourceGroup().location]","type":"String","metadata":{"description":"Location
        for the \n        network security group."}},"name":{"type":"String","metadata":{"description":"\n                                string
        username = \"UNKNOWN\";\r\n\n                    "}}},"variables":{},"resources":[{"type":"Microsoft.Network/networkSecurityGroups","apiVersion":"2015-06-15","name":"[parameters(''name'')]","location":"[parameters(''location'')]","dependsOn":[],"properties":{"securityRules":[]}}],"outputs":{"Empty":{"type":"String","value":""},"NewNSG":{"type":"Object","value":"[reference(parameters(''name''))]"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/deployments/mock-deployment/operations?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002/operations/6F66E77EDFB60B65","operationId":"6F66E77EDFB60B65","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2025-04-08T17:58:49.730294Z","duration":"PT1.7054305S","trackingId":"c614428e-3d3c-45f0-8e58-f43b35a332fd","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"azure-cli-deploy-test-nsg1"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002/operations/08584574717621346044","operationId":"08584574717621346044","properties":{"provisioningOperation":"EvaluateDeploymentOutput","provisioningState":"Succeeded","timestamp":"2025-04-08T17:58:50.6326144Z","duration":"PT2.6077509S","trackingId":"07fa17a1-22f2-41a4-a44f-bf8a5c3921b5","statusCode":"OK"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/deployments/mock-deployment/operations/6F66E77EDFB60B65?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002/operations/6F66E77EDFB60B65","operationId":"6F66E77EDFB60B65","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2025-04-08T17:58:49.730294Z","duration":"PT1.7054305S","trackingId":"c614428e-3d3c-45f0-8e58-f43b35a332fd","serviceRequestId":"983ba4b0-2f6d-4f40-8ab1-b1ff4098920d","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"azure-cli-deploy-test-nsg1"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000003","name":"azure-cli-resource-group-deployment000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6836373655278635521","parameters":{"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"azure-cli-deploy-test-nsg1"}},"mode":"Incremental","provisioningState":"Canceled","timestamp":"2025-04-08T17:59:26.2235286Z","correlationId":"a230ccd9-bc01-4397-bdd8-dc4a5c81bfc8","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]}]}],"dependencies":[],"error":{"code":"DeploymentCanceled","target":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000003","message":"This
        deployment was canceled because a cancelation request was received at ''4/8/2025
        5:59:25 PM'' using correlation id ''32f393f4-9c9b-4262-992e-df4c63e17eb0''."}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
