interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus\"},
      \"name\": {\"value\": \"azure-cli-deploy-test-nsg1\"}}, \"mode\": \"Incremental\",
      template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"metadata\": {\n        \"description\": \"Location for the network security
      group.\"\n      }\n    },\n    \"name\": {\n      \"type\": \"string\",\n      \"metadata\":
      {\n        \"description\": \"Name of the network security group.\"\n      }\n
      \   }\n  },\n  \"variables\": {\n  },\n  \"resources\": [\n    {\n      \"type\":
      \"Microsoft.Network/networkSecurityGroups\",\n      \"name\": \"[parameters('name')]\",\n
      \     \"apiVersion\": \"2015-06-15\",\n      \"location\": \"[parameters('location')]\",\n
      \     \"properties\": {\n        \"securityRules\": [\n        ]\n      },\n
      \     \"dependsOn\": [ ]\n    }\n  ],\n  \"outputs\": {\n    \"NewNSG\": {\n
      \     /** comment1\n          comment2\n          comment3\n      **/\n      //
      comment\n      /** comment **/\n      \"type\": \"object\", /** comment **/\n
      \     \"value\": \"[reference(parameters('name'))]\" // comment\n      // comment\n
      \     /** comment **/\n      /** comment1\n          comment2\n          comment3\n
      \     **/\n    }\n  } // comment\n}\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/simple_deploy","name":"simple_deploy","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6836373655278635521","parameters":{"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"azure-cli-deploy-test-nsg1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-04-06T14:56:45.426687Z","duration":"PT0S","correlationId":"416443dd-db00-4e22-8cbf-c106d126f455","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n    },\n    \"variables\":
      {\n        \"alertLocation\": \"japaneast\",\n        \"alertName\": \"armtemplate-alert-japanese-utf8\",\n
      \       \"alertDescription\": \"\u3053\u3053\u306B\u65E5\u672C\u8A9E\u3067\u8AAC\u660E\u3057\u307E\u3059\u3002\",\n
      \       \"alertStatus\": \"true\",\n        \"alertSource\": {\n            \"Query\":
      \"requests\",\n            \"SourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/test-rg/providers/microsoft.insights/components/my-insight\",\n
      \           \"Type\": \"ResultCount\"\n        },\n        \"alertSchedule\":
      {\n            \"Frequency\": 15,\n            \"Time\": 60\n        },\n        \"alertActions\":
      {\n            \"SeverityLevel\": \"3\"\n        },\n        \"alertTrigger\":
      {\n            \"Operator\": \"GreaterThan\",\n            \"Threshold\": \"50\"\n
      \       },\n        \"actionGrp\": {\n            \"ActionGroup\": \"/subscriptions/{subscriptionId}/resourcegroups/default-activitylogalerts/providers/microsoft.insights/actiongroups/send-email\",\n
      \           \"Subject\": \"Customized Email Header\",\n            \"Webhook\":
      \"{ \\\"alertname\\\":\\\"#alertrulename\\\", \\\"IncludeSearchResults\\\":true
      }\"\n        }\n    },\n    \"resources\": [\n        {\n            \"name\":
      \"[variables('alertName')]\",\n            \"type\": \"Microsoft.Insights/scheduledQueryRules\",\n
      \           \"apiVersion\": \"2018-04-16\",\n            \"location\": \"[variables('alertLocation')]\",\n
      \           \"properties\": {\n                \"description\": \"[variables('alertDescription')]\",\n
      \               \"enabled\": \"[variables('alertStatus')]\",\n                \"source\":
      {\n                    \"query\": \"[variables('alertSource').Query]\",\n                    \"dataSourceId\":
      \"[variables('alertSource').SourceId]\",\n                    \"queryType\":
      \"[variables('alertSource').Type]\"\n                },\n                \"schedule\":
      {\n                    \"frequencyInMinutes\": \"[variables('alertSchedule').Frequency]\",\n
      \                   \"timeWindowInMinutes\": \"[variables('alertSchedule').Time]\"\n
      \               },\n                \"action\": {\n                    \"odata.type\":
      \"Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction\",\n
      \                   \"severity\": \"[variables('alertActions').SeverityLevel]\",\n
      \                   \"aznsAction\": {\n                        \"actionGroup\":
      \"[array(variables('actionGrp').ActionGroup)]\",\n                        \"emailSubject\":
      \"[variables('actionGrp').Subject]\",\n                        \"customWebhookPayload\":
      \"[variables('actionGrp').Webhook]\"\n                    },\n                    \"trigger\":
      {\n                        \"thresholdOperator\": \"[variables('alertTrigger').Operator]\",\n
      \                       \"threshold\": \"[variables('alertTrigger').Threshold]\"\n
      \                   }\n                }\n            }\n        }\n    ]\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus\"},
      \"name\": {\"value\": \"azure-cli-deploy-test-nsg1\"}}, \"mode\": \"Incremental\",
      template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"metadata\": {\n        \"description\": \"Location for the \n        network
      security group.\"\n      }\n    },\n    \"name\": {\n      \"type\": \"string\",\n
      \     \"metadata\": {\n        \"description\": \"\n                                string
      username = \\\"UNKNOWN\\\";\\r\\n\n                    \"\n      }\n    }\n
      \ },\n  \"variables\": {\n  },\n  \"resources\": [\n    {\n      \"type\": \"Microsoft.Network/networkSecurityGroups\",\n
      \     \"name\": \"[parameters('name')]\",\n      \"apiVersion\": \"2015-06-15\",\n
      \     \"location\": \"[parameters('location')]\",\n      \"properties\": {\n
      \       \"securityRules\": [\n        ]\n      },\n      \"dependsOn\": [ ]\n
      \   }\n  ],\n  \"outputs\": {\n    \"Empty\": {\n        \"type\": \"string\",\n
      \       \"value\": \"\"\n    },\n    \"NewNSG\": {\n      /** comment1\n          comment2\n
      \         comment3\n      **/\n      // comment\n      /** comment **/\n      \"type\":
      \"object\", /** comment **/\n      \"value\": \"[reference(parameters('name'))]\"
      // comment\n      // comment\n      /** comment **/\n      /** comment1\n          comment2\n
      \         comment3\n      **/\n    }\n  } // comment\n}\n}}"
    headers:
   [...]
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus\"},
      \"name\": {\"value\": \"azure-cli-deploy-test-nsg1\"}}, \"mode\": \"Incremental\",
      template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"metadata\": {\n        \"description\": \"Location for the network security
      group.\"\n      }\n    },\n    \"name\": {\n      \"type\": \"string\",\n      \"metadata\":
      {\n        \"description\": \"Name of the network security group.\"\n      }\n
      \   },\n    \"extra_param\": {\n      \"type\": \"string\",\n      \"metadata\":
      {\n        \"description\": \"Useless redundant parameters.\"\n      }\n    }\n
      \ },\n  \"variables\": {\n  },\n  \"resources\": [\n    {\n      \"type\": \"Microsoft.Network/networkSecurityGroups\",\n
      \     \"name\": \"[parameters('name')]\",\n      \"apiVersion\": \"2015-06-15\",\n
      \     \"location\": \"[parameters('location')]\",\n      \"properties\": {\n
      \       \"securityRules\": [\n        ]\n      },\n      \"dependsOn\": [ ]\n
      \   }\n  ],\n  \"outputs\": {\n    \"NewNSG\": {\n      /** comment1\n          comment2\n
      \         comment3\n      **/\n      // comment\n      /** comment **/\n      \"type\":
      \"object\", /** comment **/\n      \"value\": \"[reference(parameters('name'))]\"
      // comment\n      // comment\n      /** comment **/\n      /** comment1\n          comment2\n
      \         comment3\n      **/\n    }\n  } // comment\n}\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2024-11-01
  response:
    body:
      string: '{"error":{"code":"InvalidTemplate","message":"Deployment template validation
        failed: ''The value for the template parameter ''extra_param'' at line ''18''
        and column ''20'' is not provided. Please see https://aka.ms/arm-create-parameter-file
        for usage details.''.","additionalInfo":[{"type":"TemplateViolation","info":{"lineNumber":18,"linePosition":20,"path":"properties.template.parameters.extra_param"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus\"},
      \"name\": {\"value\": \"azure-cli-deploy-test-nsg1\"}}, \"mode\": \"Incremental\",
      template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"location\": {\n
      \     \"type\": \"string\",\n      \"defaultValue\": \"[resourceGroup().location]\",\n
      \     \"met[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584576554721380123?api-version=2024-11-01&t=638795482150729626&c=MIIHhzCCBm-gAwIBAgITfAaTYo0ffVKAVQo0FAAABpNijTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002","name":"azure-cli-resource-group-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6836373655278635521","parameters":{"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"azure-cli-deploy-test-nsg1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-04-06T14:57:04.042067Z","correlationId":"683c45f5-2c97-43bf-8d4e-e87052419c94","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"newNSG":{"type":"Object","value":{"provisioningState":"Succeeded","resourceGuid":"046b1a1a-6fa0-403f-894a-e9a035616690","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1/defaultSecurityRules/AllowVnetInBound","etag":"W/\"3613d9e0-17cb-42dc-b7a6-07af1bdc4541\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Succeeded","description":"Allow
        inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound"}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1/defaultSecurityRules/AllowAzureLoadBalancerInBound","etag":"W/\"3613d9e0-17cb-42dc-b7a6-07af1bdc4541\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Succeeded","description":"Allow
        inbound [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584576554364735842?api-version=2024-11-01&t=638795482512617718&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002","name":"azure-cli-resource-group-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2470825490270294517","parameters":{"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"azure-cli-deploy-test-nsg1"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-04-06T14:57:31.9449373Z","correlationId":"91598386-4d52-48b1-8c06-8ef880a67e46","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"empty":{"type":"String","value":""},"newNSG":{"type":"Object","value":{"provisioningState":"Succeeded","resourceGuid":"046b1a1a-6fa0-403f-894a-e9a035616690","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1/defaultSecurityRules/AllowVnetInBound","etag":"W/\"3613d9e0-17cb-42dc-b7a6-07af1bdc4541\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deplo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Res[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2024-11-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"location":{"defaultValue":"[resourceGroup().location]","type":"String","metadata":{"description":"Location
        for the \n        network security group."}},"name":{"type":"String","metadata":{"description":"\n                                string
        username = \"UNKNOWN\";\r\n\n                    "}}},"variables":{},"resources":[{"type":"Microsoft.Network/networkSecurityGroups","apiVersion":"2015-06-15","name":"[parameters(''name'')]","location":"[parameters(''location'')]","dependsOn":[],"properties":{"securityRules":[]}}],"outputs":{"Empty":{"type":"String","value":""},"NewNSG":{"type":"Object","value":"[reference(parameters(''name''))]"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/deployments/mock-deployment/operations?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002/operations/7426AAA20ED1A8F1","operationId":"7426AAA20ED1A8F1","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2025-04-06T14:57:31.8344407Z","duration":"PT0.4269988S","trackingId":"393e7e65-c45c-4704-a508-0003b6e29599","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"azure-cli-deploy-test-nsg1"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002/operations/08584576554364735842","operationId":"08584576554364735842","properties":{"provisioningOperation":"EvaluateDeploymentOutput","provisioningState":"Succeeded","timestamp":"2025-04-06T14:57:31.9292448Z","duration":"PT0.5218029S","trackingId":"028d0401-5900-4c1f-b5ab-97ee67a1de87","statusCode":"OK"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/deployments/mock-deployment/operations/7426AAA20ED1A8F1?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002/operations/7426AAA20ED1A8F1","operationId":"7426AAA20ED1A8F1","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2025-04-06T14:57:31.8344407Z","duration":"PT0.4269988S","trackingId":"393e7e65-c45c-4704-a508-0003b6e29599","serviceRequestId":"3c01afdd-29dc-4c0c-b0aa-10f2dd7dbda5","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Network/networkSecurityGroups/azure-cli-deploy-test-nsg1","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"azure-cli-deploy-test-nsg1"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment000001/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000003","name":"azure-cli-resource-group-deployment000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6836373655278635521","parameters":{"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"azure-cli-deploy-test-nsg1"}},"mode":"Incremental","provisioningState":"Canceled","timestamp":"2025-04-06T14:58:10.3132386Z","duration":"PT1.3112031S","correlationId":"4087dd5b-8a1c-486e-abf5-43b64af5b06c","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkSecurityGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
