interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg3hphkqchjyj2tpr65oche3ocevgvwqplcum5uxwb5bn7s4h5bqdkrcgbxszc5hotu/providers/Microsoft.Network/virtualNetworks/vnet7xxe64xzjn3cktrwfzql","name":"vnet7xxe64xzjn3cktrwfzql","type":"Microsoft.Network/virtualNetworks","location":"westeurope","createdTime":"2023-03-30T15:46:04.1574889Z","changedTime":"2024-10-25T19:20:15.4393173Z","provisioningState":"Succeeded"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg3fedjzfl2xng5k4manazg5hm4id5tgpwizylx2uow25xw5ufsfb6wnrkegrkvx7ha/providers/Microsoft.Network/virtualNetworks/vnetvi2wshgcogu6qld4al6a","name":"vnetvi2wshgcogu6qld4al6a","type":"Microsoft.Network/virtualNetworks","location":"westeurope","createdTime":"2023-03-23T04:22:50.6018374Z","changedTime":"2024-10-25T19:15:31.4952026Z","provisioningState":"Succeeded"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-mssql-0212/providers/Microsoft.Sql/servers/acctest-sqlserver-0212/databases/master","name":"acctest-sqlserver-0212/master","type":"Microsoft.Sql/servers/databases","sku":{"name":"System","tier":"System","capacity":0},"kind":"v12.0,system","managedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG-mssql-0212/providers/Microsoft.Sql/servers/acctest-sqlserver-0212","location":"eastus","createdTime":"2025-02-12T03:39:23.5034104Z","changedTime":"2025-02-12T03:39:23.5034104Z","provisioningState":"Succeeded"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-36/providers/Microsoft.DataProtection/BackupVaults/example-36","name":"example-36","type":"Microsoft.DataProtection/BackupVaults","location":"westeurope","identity":{"principalId":"b9a05013-a6cc-44ca-a7c2-6f880711cf10","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"createdTime":"2024-08-05T12:03:42.5573987Z","changedTime":"2024-10-25T20:37:08.6901496Z","provisioningState":"Succeeded","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/example-38/providers/Microsoft.DataProtection/BackupVaults/example-38","name":"example-38","type":"Microsoft.DataProtection/BackupVaults","location":"westeurope","identity":{"principalId":"d38db314-190d-45f2-b0dd-80a3c16b6631","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"createdTime":"2024-08-05T12:18:42.3434764Z","changedTime":"2024-10-25T20:36:52.0263025Z","provisioningState":"Succeeded[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01&$skiptoken=rZCxboMwFEX/xTODRZgidWlNqRG2hUShWCxWigo2OBVxVAzi32tQ1EwsUberO5x335mBrkeTtFpdwHEGtbiYq0ugtvGVfzQwK16t8HOL5bklSFmCwgNBX4ahWPEXCKl87pMinFiBDYvwSFGueER%2Byp5ArOET8IAU30Kv4D2sXwZlkQYsejflFPrErtjYYbHlaO06yRGXDOUNdWdv2FOtzSC63bU84i2XXUOL1HBZTnRbe4JJpkZehK4LIcnUgSIc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001","name":"cli_test_resource_scenario000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","test":"test_resource_scenario","date":"2025-04-06T14:41:02Z","module":"resource"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "subnet-000003", "properties": {"addressPrefix": "10.0.0.0/24"}}]},
      "tags": {"cli-test": "test"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002?api-version=2024-05-01
  response:
    body:
      string: '{"name":"vnet-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","etag":"W/\"3b7ce584-b046-48a4-916c-036cb23322a9\"","type":"Microsoft.Network/virtualNetworks","location":"southcentralus","tags":{"cli-test":"test"},"properties":{"provisioningState":"Updating","resourceGuid":"4dc4a8ef-356d-4109-bb2b-fd5a993d14eb","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[{"name":"subnet-000003","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002/subnets/subnet-000003","etag":"W/\"3b7ce584-b046-48a4-916c-036cb23322a9\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/26a32a6b-3837-414d-9f0b-32a01e0a84c8?api-version=2024-05-01&t=638795472664946068&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIwMDgzNTM2WhcNMjUwNzE5MDgzNTM2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/26a32a6b-3837-414d-9f0b-32a01e0a84c8?api-version=2024-05-01&t=638795472664946068&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIwMDgzNTM2WhcNMjUwNzE5MDgzNTM2WjBAMT4wP[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01&$skiptoken=rZCxasMwEIbfRbMH1c0U6NA0lWvjk6F1okp4EYmpJUtKcRSwY/LuVYNpJi%2Bh289xfPffNyJX9z5Xrj2i5YhqefSnkFA9ZCfx2eCSkUHG2yHVB8U1UZwRBefWU0ssKIyFpTpnaQ8MvLBZ2DGtsLCA88qmDj%2BhCGn5Ld0veAYL68aCXhm6fvY0FgZeAlZ/PeRlu4By4wtGDSSZFuE0TYiasLva%2BU6a2baUpY%2BcvTeQbLzQRvMPjLl%2BjUPb[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27southcentralus%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/managed-rg-feng-purview/providers/Microsoft.Storage/storageAccounts/scansouthcentralusdteqbx","name":"s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27southcentralus%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01&$skiptoken=rdA9b4MwEIDh/%2BKZwaHqEilDqhJKxBmpNaFnsVgtSmzAqYij8CH%2Be50INRNL1O10w%2BPzOxBTtDZWpjyR5UAKebJnN5Gi257F54HybNNJf9dF%2BqigT30WQpdkkQUeXMQHpRBiH2dbJXhgsS9brAMfM3yGMFpEhq6IR7T8keYKz7CM71vk%2ByemSwvZrmKKUtSb0rEH4JFN3A71mgr%2BooTjJ/arMLaR1ey1yCsFfnrB62U1tuhYpt91zKua6dSxsAANvXuiZa%2BivrGjd%2B%2BRmLdj9e2qTEuQTVk07hNDPnXKydKN/1QqJ15%2BbzVLP1LrRv/1mqUfKZaTkYy/
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.Purview/accounts/feng-purview","name":"feng-purview","type":"Microsoft.Purview/accounts","sku":{"name":"Standard","capacity":1},"location":"southcentralus","identity":{"principalId":"6ad9a4db-7591-4960-8b4c-69b1ce99c6d7","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"createdTime":"2021-09-23T06:00:17.1712152Z","changedTime":"2021-09-23T06:10:23.2830474Z","provisioningState":"Succeeded","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg3hphkqchjyj2tpr65oche3ocevgvwqplcum5uxwb5bn7s4h5bqdkrcgbxszc5hotu/pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27vnet-000002%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","location":"southcentralus","createdTime":"2025-04-06T14:41:05.949157Z","changedTime":"2025-04-06T14:41:09.1815038Z","provisioningState":"Succeeded","tags":{"cli-test":"test"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27vnet-000002%27&%24expand=createdTime%2cchangedTime%2cprovisioningState&api-version=2024-11-01&%24skiptoken=rdBBa4MwFMDx75KzB1e7S2GHOa1LMQmWYKZ4CZ00iTYdNqUa8bsvK2U9eSk9BB45%2fHjvPwJd9yaVujmB1QhqfjJnN4F62JzLL%2bFTth74Ih%2bgOspCFT6JYluqvUFRFuAP38cMvqRsI9AhNoSGBxS9L5HdChzFPdT%2bG%2fCA4j9c%2f8EzLKIowNQRdm8wzSVyLGFbkVIhUVKYQoUNXuSqpIUldPd6Y3e1Nh1vZ7ctk%2fiCFFy6Z0qVWSzdtnQtUgZ7lEBDorbBNJTIZgFh8eXKTt69B9Gfx%2fbbVbl9It41deeOGKtbpwqs3PikUhXwqnurWfqRWlf6v9cs%2fUixCkxg%2bgU%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27vnet-000002%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01&$skiptoken=rdBBa4MwFMDx75KzB1e7S2GHOa1LMQmWYKZ4CZ00iTYdNqUa8bsvK2U9eSk9BB45/HjvPwJd9yaVujmB1QhqfjJnN4F62JzLL%2BFTth74Ih%2BgOspCFT6JYluqvUFRFuAP38cMvqRsI9AhNoSGBxS9L5HdChzFPdT%2BG/CA4j9c/8EzLKIowNQRdm8wzSVyLGFbkVIhUVKYQoUNXuSqpIUldPd6Y3e1Nh1vZ7ctk/iCFFy6Z0qVWSzdtnQtUgZ7lEBDorbBNJTIZgFh8eXKTt69B9Gfx/bbVbl9It41deeOGKtbpwqs3PikUhXwqnurWfqRWlf6v9cs/UixCkxg%2BgU%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","kind":"","managedBy":"","location":"southcentralus","tags":{"cli-test":"test"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test%27%20and%20tagvalue%20eq%20%27test%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","kind":"","managedBy":"","location":"southcentralus","tags":{"cli-test":"test"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"40c49ff3-c6ae-436d-b28e-b8e268841980","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"d66e9e8e-53a4-420c-866d-5bb39aaea675","roleDefinitionId":"d4d2d679-cce0-429d-9a3b-17118c035f66"},{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e","managedByRoleDefinitionId":"82e8942a-bcb6-444a-b1c4-31a3ea463a7d"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68","roleDefinitionId":"787424c7-f9d2-416b-a939-4d59deb2d259"},{"applicationId":"60b2e7d5-a27f-426d-a6b1-acced0846fdf","roleDefinitionId":"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"}],"resourceTypes":[{"resourceType":"dnszones","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01","2015-05-04-preview"],"defaultApiVersion":"2018-05-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-04-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-04-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-04-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"dnsOperationResults","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2017-09-15-preview","2017-09-01","2016-04-01"],"defaultApiVersion":"2018-05-01","capabilities":"None"},{"resourceType":"dnsOperationStatuses","locations":["global"],"apiVersions":["2023-07-01-preview","2018-05-01","2018-03-01-preview","2017-10-01","2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002?api-version=2024-07-01
  response:
    body:
      string: '{"name":"vnet-000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","etag":[...]
[...]
