interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T16:23:08.4968266Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-14T16:23:08.4968266Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11974'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1152A60B38"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000004?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1152BF2AA7"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-expiry-option:
      - Absolute
      x-ms-expiry-time:
      - Sun, 14 Aug 2022 16:23:34 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000004?comp=expiry
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1152BF2AA7"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DA7E1152BF2AA7"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 14 Aug 2022 16:23:29 GMT
      x-ms-expiry-time:
      - Sun, 14 Aug 2022 16:23:34 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:36 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:44 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified blob does not exist.
version: 1
