interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory_hns000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T16:14:50.9890091Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-14T16:14:50.9890091Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11980'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:15:11 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/mycontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E102A3A0986"'
      last-modified:
      - Sun, 14 Aug 2022 16:15:11 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"policy": {"enabled": true, "type": "Inventory", "rules":
      [{"enabled": true, "name": "newfieldsblob", "destination": "mycontainer", "definition":
      {"filters": {"prefixMatch": ["abc"], "excludePrefix": ["ac"], "blobTypes": ["blockBlob",
      "appendBlob"], "includeSnapshots": true, "includeDeleted": true}, "format":
      "Csv", "schedule": "Daily", "objectType": "Blob", "schemaFields": ["Name", "Creation-Time",
      "Last-Modified", "ETag", "Content-Length", "Content-Type", "Content-Encoding",
      "Content-Language", "Content-CRC64", "Content-MD5", "Cache-Control", "Content-Disposition",
      "BlobType", "AccessTier", "AccessTierChangeTime", "AccessTierInferred", "LeaseStatus",
      "LeaseState", "LeaseDuration", "ServerEncrypted", "CustomerProvidedKeySha256",
      "RehydratePriority", "ArchiveStatus", "EncryptionScope", "IncrementalCopy",
      "Snapshot", "Metadata", "DeletionId", "Deleted", "DeletedTime", "RemainingRetentionDays",
      "Expiry-Time", "hdi_isfolder", "Owner", "Group", "Permissions", "Acl", "CopyId",
      "CopyStatus", "CopySource", "CopyProgress", "CopyCompletionTime", "CopyStatusDescription",
      "ImmutabilityPolicyUntilDate", "ImmutabilityPolicyMode", "LegalHold", "LastAccessTime"]}},
      {"enabled": true, "name": "newfieldscontainer", "destination": "mycontainer",
      "definition": {"filters": {"prefixMatch": ["abc"], "includeDeleted": true},
      "format": "Csv", "schedule": "Daily", "objectType": "Container", "schemaFields":
      ["Name", "Last-Modified", "ETag", "LeaseStatus", "LeaseState", "LeaseDuration",
      "PublicAccess", "DefaultEncryptionScope", "DenyEncryptionScopeOverride", "ImmutableStorageWithVersioningEnabled",
      "HasImmutabilityPolicy", "HasLegalHold", "Deleted", "DeletedTime", "RemainingRetentionDays",
      "Version", "Metadata"]}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory_hns000001/providers/Microsoft.Storage/storageAccounts/clitest000002/inventoryPolicies/default?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory_hns000001/providers/Microsoft.Storage/storageAccounts/clitest000002/inventoryPolicies/default","name":"DefaultInventoryPolicy","type":"Microsoft.Storage/storageAccounts/inventoryPolicies","properties":{"lastModifiedTime":"2022-08-14T16:15:12.3796158Z","policy":{"enabled":true,"type":"Inventory","rules":[{"destination":"mycontainer","enabled":true,"name":"newfieldsblob","definition":{"format":"Csv","schedule":"Daily","objectType":"Blob","schemaFields":["Name","Creation-Time","Last-Modified","ETag","Content-Length","Content-Type","Content-Encoding","Content-Language","Content-CRC64","Content-MD5","Cache-Control","Content-Disposition","BlobType","AccessTier","AccessTierChangeTime","AccessTierInferred","LeaseStatus"[...]
