interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T16:24:09.5125540Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-14T16:24:09.5125540Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1178B7086F"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1178CC79AD"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1178CC79AD"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1178F2CA25"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-meta-foo:
      - bar
      x-ms-meta-moo:
      - bak
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1179043AC8"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA7E1179043AC8"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-foo:
      - bar
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-meta-moo:
      - bak
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E11793740C9"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:34 GMT
      x-ms-meta-cat:
      - file
      x-ms-meta-test:
      - beta
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1179485703"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:34 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:34 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA7E1179485703"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:34 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 14 Aug 2022 16:24:33 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-cat:
      - file
      x-ms-meta-test:
      - beta
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
version: 1
