interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_hns_migrate000001/providers/Microsoft.Storage/storageAccounts/clitest000002/hnsonmigration?api-version=2022-05-01&requestType=HnsOnValidationRequest
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/4d398aaf-3cd6-4b17-8ec1-72c4e6bbc0d7?monitor=true&api-version=2022-05-01
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/4d398aaf-3cd6-4b17-8ec1-72c4e6bbc0d7?monitor=true&api-version=2022-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/4d398aaf-3cd6-4b17-8ec1-72c4e6bbc0d7?monitor=true&api-version=2022-05-01
  response:
    body:
      string: '{"status":"InProgress","properties":"{\"HnsOnMigrationRequestType\":0}","percentComplete":0.0}'
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/4d398aaf-3cd6-4b17-8ec1-72c4e6bbc0d7?monitor=true&api-version=2022-05-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_hns_migrate000001/providers/Microsoft.Storage/storageAccounts/clitest000002/hnsonmigration?api-version=2022-05-01&requestType=HnsOnHydrationRequest
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/1c27ddd2-9200-4c61-b3d8-fb79fdb2b49d?monitor=true&api-version=2022-05-01
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/1c27ddd2-9200-4c61-b3d8-fb79fdb2b49d?monitor=true&api-version=2022-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_hns_migrate000001/providers/Microsoft.Storage/storageAccounts/clitest000003/aborthnsonmigration?api-version=2022-05-01
  response:
    body:
      string: '{"error":{"code":"HnsMigrationNotFound","message":"Hns migration for
        the account: clitest000003 is not found."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/78c91866-5029-46c2-a084-e20e730e4291?monitor=true&api-version=2022-05-01
  response:
    body:
      string: '{"status":"Succeeded","properties":"{\"HnsOnMigrationRequestType\":1}"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
