interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T16:30:53.9817351Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-14T16:30:53.9817351Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11963'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:31:56 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E128150E71E"'
      last-modified:
      - Sun, 14 Aug 2022 16:31:57 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:31:57 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E12817B0B46"'
      last-modified:
      - Sun, 14 Aug 2022 16:31:57 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-08-14T16:31:57.3182278Z'
      x-ms-file-creation-time:
      - '2022-08-14T16:31:57.3182278Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-08-14T16:31:57.3182278Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 4504577952796084626*6221828283498765851
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Sun, 14 Aug 2022 16:31:57 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E12819EE190"'
      last-modified:
      - Sun, 14 Aug 2022 16:31:57 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-08-14T16:31:57.5530896Z'
      x-ms-file-creation-time:
      - '2022-08-14T16:31:57.5530896Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-08-14T16:31:57.5530896Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 18372636554045814421*6221828283498765851
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
