interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T16:03:19.9000121Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-14T16:03:19.9000121Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11990'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:03:40 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E0E8E439B4F"'
      last-modified:
      - Sun, 14 Aug 2022 16:03:40 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - Fri, 01 Apr 2016 12:00:00 GMT
      x-ms-date:
      - Sun, 14 Aug 2022 16:03:40 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '60'
      x-ms-proposed-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E0E8E56279D"'
      last-modified:
      - Sun, 14 Aug 2022 16:03:40 GMT
      x-ms-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:03:41 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA7E0E8E56279D"'
      last-modified:
      - Sun, 14 Aug 2022 16:03:40 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 14 Aug 2022 16:03:40 GMT
      x-ms-lease-duration:
      - fixed
      x-ms-lease-state:
      - leased
      x-ms-lease-status:
      - locked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:03:41 GMT
      x-ms-lease-id:
      - dcbadcba-dcba-dcba-dcba-dcbadcbadcba
      x-ms-meta-key1:
      - value1
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E0E8EC41BBD"'
      last-modified:
      - Sun, 14 Aug 2022 16:03:41 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:03:41 GMT
      x-ms-lease-action:
      - break
      x-ms-lease-break-period:
      - '30'
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E0E8EC41BBD"'
      last-modified:
      - Sun, 14 Aug 2022 16:03:41 GMT
      x-ms-lease-time:
      - '30'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:03:42 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA7E0E8EC41BBD"'
      last-modified:
      - Sun, 14 Aug 2022 16:03:41 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 14 Aug 2022 16:03:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-key1:
      - value1
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
version: 1
