interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T16:22:42.6687198Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-14T16:22:42.6687198Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11975'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E11431E0D6D"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E114347673A"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DA7E114347673A"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E114347673A"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: testappend
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-version:
      - '2021-06-08'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:03 GMT
      x-ms-version:
      - '2021-06-08'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=flush&position=10&retainUncommittedData=false&close=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E11439C929A"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:04 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:04 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:04 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1143CF9258"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:04 GMT
      x-ms-version:
      - '2021-06-08'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:04 GMT
      x-ms-version:
      - '2021-06-08'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=flush&position=1048576&close=true
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1143E206B4"'
      last-modified:
      - Sun, 14 Aug 2022 16:23:04 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:04 GMT
      x-ms-version:
      - '2021-06-08'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Ffile000005?action=flush&position=524288&close=true
  response:
    body:
      string: '{"error":{"code":"InvalidFlushPosition","message":"The uploaded data
        is not contiguous or the position query parameter value is not equal to the
        length of the file after appending the uploaded data.\nRequestId:8307485b-f01f-002d-7ffa-af5da1000000\nTime:2022-08-14T16:23:04.6691206Z"}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - InvalidFlushPosition
      x-ms-version:
      - '2021-06-08'
    status:
      code: 400
      message: The uploaded data is not contiguous or the position query parameter
        value is not equal to the length of the file after appending the uploaded
        data.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:05 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"133049677843425231","etag":"0x8DA7E1143CD6A55","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        14 Aug 2022 16:23:04 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"524288","creationTime":"133049677849542730","etag":"0x8DA7E1144366128","expiryTime":"0","group":"$superuser","lastModified":"Sun,
        14 Aug 2022 16:23:05 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"10","creationTime":"133049677834643258","etag":"0x8DA7E11439C929A","expiryTime":"0","group":"$superuser","lastModified":"Sun,
        14 Aug 2022 16:23:04 GMT","name":"file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:05 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&directory=dir000004&recursive=true&maxResults=5000
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"133049677849542730","etag":"0x8DA7E1144366128","expiryTime":"0","group":"$superuser","lastModified":"Sun,
        14 Aug 2022 16:23:05 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:05 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true&maxResults=1
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"133049677843425231","etag":"0x8DA7E1143CD6A55","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        14 Aug 2022 16:23:04 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-continuation:
      - VBaEvvCIjaPWpz8YcxhuL2NsaXRlc3RtcHJiYm9kNDNqM2c3Mzc1ZgEwMUQ4QUZGQTE0NjY3RkEzL2ZpbGVzeXN0ZW1tMzY3cTZjdXJtenJnaQEwMUQ4QUZGQTIwQTc0OTAwL2RpcmJlbDRxbHZsZi9maWxlYTQ0amJvY2oWAAAA
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:05 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&continuation=VBaEvvCIjaPWpz8YcxhuL2NsaXRlc3RtcHJiYm9kNDNqM2c3Mzc1ZgEwMUQ4QUZGQTE0NjY3RkEzL2ZpbGVzeXN0ZW1tMzY3cTZjdXJtenJnaQEwMUQ4QUZGQTIwQTc0OTAwL2RpcmJlbDRxbHZsZi9maWxlYTQ0amJvY2oWAAAA&recursive=true&maxResults=1
  response:
    body:
      string: '{"paths":[{"contentLength":"524288","creationTime":"133049677849542730","etag":"0x8DA7E1144366128","expiryTime":"0","group":"$superuser","lastModified":"Sun,
        14 Aug 2022 16:23:05 GMT","name":"dir000004/file000005","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-continuation:
      - VBa4uOuNlJee+ukBGGYYYS9jbGl0ZXN0bXByYmJvZDQzajNnNzM3NWYBMDFEOEFGRkExNDY2N0ZBMy9maWxlc3lzdGVtbTM2N3E2Y3VybXpyZ2kBMDFEOEFGRkEyMEE3NDkwMC9maWxlYTQ0amJvY2oWAAAA
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:23:06 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
