interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T16:24:35.5906199Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-14T16:24:35.5906199Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11972'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:56 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E1186710A08"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:56 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:56 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir%2Fsubdir?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA7E118693A73E"'
      last-modified:
      - Sun, 14 Aug 2022 16:24:56 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2022-08-14T16:24:56Z</Start><Expiry>2022-08-14T17:24:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Sun, 14 Aug 2022 16:24:56 GMT
      x-ms-version:
      - '2021-06-08'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>6b30bdc6-696a-46fb-82d7-739c2fb147b7</SignedOid><SignedTid>54826b22-38d6-4fb2-bad9-b7b93a3e9c5a</SignedTid><SignedStart>2022-08-14T16:24:56Z</SignedStart><SignedExpiry>2022-08-14T17:24:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2021-06-08</SignedVersion><Value>Vfyd7yBum2N+khuhv2xaIVnkXapt0HCK3XwandsR9VA=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
version: 1
