interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T15:43:49.9617580Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-14T15:43:49.9617580Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/regenerateKey?api-version=2022-05-01
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T15:44:10.6805648Z","keyName":"key1","value":"uQBIoRfoWIprRCEzxqepF6dWEtO6pvPlX3ueZSqefMQvQFw5UeWLhtsz4BLTSR36jD3MK0YRASRk+AStEzK75w==","permissions":"FULL"},{"creationTime":"2022-08-14T15:43:49.9617580Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyName": "key2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/regenerateKey?api-version=2022-05-01
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-14T15:44:10.6805648Z","keyName":"key1","value":"uQBIoRfoWIprRCEzxqepF6dWEtO6pvPlX3ueZSqefMQvQFw5UeWLhtsz4BLTSR36jD3MK0YRASRk+AStEzK75w==","permissions":"FULL"},{"creationTime":"2022-08-14T15:44:10.9461587Z","keyName":"key2","value":"Dj7kZjD/pOAf2eQFzkfhNwDtDCtRxM/CqSzjEVCMNnIhJwqyUNxC7T1/t192G4UpK0aLy3ZBQxmb+AStvoYigQ==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
