interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27test_network_lb_frontend_ip_zone000001%27%20and%20name%20eq%20%27vnet000004%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27test_network_lb_frontend_ip_zone000001%27+and+name+eq+%27vnet000004%27+and+resourceType+eq+%27Microsoft.Network%2fvirtualNetworks%27&api-version=2024-11-01&%24skiptoken=rZBBa4MwGIb%2fS84eMtmpsEPB6lJMxM3WfcFL2KQzxnTYlJqI%2f31ZkfXkYGOn7%2bU7PLzvMyJdDyZtdHtCqxHV4mTOPqHabs%2f85R0XZWxFuLdEHhsuWceLbcfc2vCOYPaMMcgnlRYHxxMwPMnvodxL6m%2bWQEg0fkABkuJD6C%2fwApa6NYYwdxCCYZFS3GOppJe0jBuQxGQlHWjoc7lxzOXDjH2ttemFWmxLHbHQ5Za5nQG5cdD4ti5u00I1PAJDoxwzebhkRWup291dsVNw85Hpx6N681bmJxV9W%2fd%2bxFjNniq08vGfTFUoqG6uFtF%2fsXVFf%2fv6Af17YxWa0PQJ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27test_network_lb_frontend_ip_zone000001%27%20and%20name%20eq%20%27vnet000004%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2024-11-01&$skiptoken=rZBBa4MwGIb/S84eMtmpsEPB6lJMxM3WfcFL2KQzxnTYlJqI/31ZkfXkYGOn7%2BU7PLzvMyJdDyZtdHtCqxHV4mTOPqHabs/85R0XZWxFuLdEHhsuWceLbcfc2vCOYPaMMcgnlRYHxxMwPMnvodxL6m%2BWQEg0fkABkuJD6C/wApa6NYYwdxCCYZFS3GOppJe0jBuQxGQlHWjoc7lxzOXDjH2ttemFWmxLHbHQ5Za5nQG5cdD4ti5u00I1PAJDoxwzebhkRWup291dsVNw85Hpx6N681bmJxV9W/d%2BxFjNniq08vGfTFUoqG6uFtF/sXVFf/v6Af17YxWa0PQJ
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vnet000004", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "lb000002", "location": "eastus2", "tags": {}, "apiVersion": "2023-04-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vnet000004"], "properties":
      {"backendAddressPools": [{"name": "lb000002bepool"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"privateIPAllocationMethod":
      "Dynamic", "privateIPAddress": null, "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/virtualNetworks/vnet000004/subnets/subnet"},
      "privateIPAddressVersion": "IPv4"}}]}, "sku": {"name": "Standard"}}], "outputs":
      {"loadBalancer": {"type": "object", "value": "[reference(''lb000002'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_oZp6s921FqseAzwHOcfJLJisc3zGKb8p","name":"lb_deploy_oZp6s921FqseAzwHOcfJLJisc3zGKb8p","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2763238216863694961","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-04-04T16:16:49.6539702Z","duration":"PT0.0003935S","correlationId":"0024adc8-4ec6-453a-8dfb-7d3b45531291","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/virtualNetworks/vnet000004","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet000004"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/loadBalancers/lb000002","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_oZp6s921FqseAzwHOcfJLJisc3zGKb8p/operationStatuses/08584578234758206761?api-version=2024-11-01&t=638793802117947778&c=MIIHpTCCBo2gAwIBAgITfwTefsNKsen_4LA9fgAEBN5-wzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI3MDY0NjExWhcNMjUwNzI2MDY0NjExWj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584578234758206761?api-version=2024-11-01&t=638793802117947778&c=MIIHpTCCBo2gAwIBAgITfwTefsNKsen_4LA9fgAEBN5-wzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/loadBalancers/lb000002?api-version=2023-04-01
  response:
    body:
      string: '{"name":"lb000002","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/loadBalancers/lb000002","etag":"W/\"9c99ee7d-7e2a-4cf5-8404-fbf595c61e75\"","type":"Microsoft.Network/loadBalancers","location":"eastus2","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"383683cb-306a-409c-9913-773d88d8701d","frontendIPConfigurations":[{"name":"LoadBalancerFrontEnd","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/loadBalancers/lb000002/frontendIPConfigurations/LoadBalancerFrontEnd","etag":"W/\"9c99ee7d-7e2a-4cf5-8404-fbf595c61e75\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/virtualNetworks/vnet000004/subnets/subnet"},"privateIPAddressVersion":"IPv4"}}],"backendAddressPools":[{"name":"lb000002bepool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/loadBalancers/lb000002/backendAddressPools/lb000002bepool","etag":"W/\"9c99ee7d-7e2a-4cf5-8404-fbf595c61e75\"","properties":{"provisioningState":"Succeeded","loadBalancerBackendAddresses":[]},"type":"Microsoft.Network/loadBalancers/backendAddressPools"}],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"outboundRules":[],"inboundNatPools":[]},"sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9c99ee7d-7e2a-4cf5-8404-fbf595c61e75"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/aa69ba99-ef73-41b3-b123-364250f97278?api-version=2023-04-01&t=638793802452129112&c=MIIHhzCCBm-gAwIBAgITHgYzcjWyxBoqSZhmFwAABjNyNTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwMTI1MTM0MDA0WhcNMjUwNzI0MTM0MDA0WjBAMT4wPAYDVQQD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_frontend_ip_zone000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001","name":"test_network_lb_frontend_ip_zone000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_network_lb_frontend_ip_zone","date":"2025-04-04T16:16:45Z","module":"network","DateCreated":"2025-04-04T16:16:47Z","Creator":"05e98f05-c170-4236-968f-5bf6b5884bfc"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27test_network_lb_frontend_ip_zone000001%27%20and%20name%20eq%20%27vnet000005%27%20and%20resourceType%20eq%20%27Microsoft.Network/virtualNetworks%27&api-version=2024-11-01&$skiptoken=nY%2BxbsIwFEX/5c0ZLCKWSN0MIVX8IiCQEnmxUqvBdkwVjMBE%2BfdaCCkLXVjvcM49A1h5c/nR6jMkAyjxK6wUZwcJSP95qb9aUlZLL2Z7n6nTkXWLGLv17NAtXJFuDHpCmGquealjloaNtgar7F7QTYvU6MySD4igkdb1wlyC4yUW72we0L6u1o6pn%2BthSwiqzOdl2yFlDqmOi7Q2rNoRLJfmgR2j6XthVyfzHQqeIxO9ln2wDXxq4pDwl/p3qjhEfOr6F/1OGYcRxj8%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "vnet000005", "type": "Microsoft.Network/virtualNetworks", "location":
      "eastus2", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "lb000003", "location": "eastus2", "tags": {}, "apiVersion": "2023-04-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vnet000005"], "properties":
      {"backendAddressPools": [{"name": "poll000006"}], "frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"privateIPAllocationMethod":
      "Dynamic", "privateIPAddress": null, "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Network/virtualNetworks/vnet000005/subnets/default"},
      "privateIPAddressVersion": "IPv4"}, "zones": ["1", "2", "3"]}]}, "sku": {"name":
      "Standard"}}], "outputs": {"loadBalancer": {"type": "object", "value": "[reference(''lb000003'')]"}}},
      "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  respo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_network_lb_frontend_ip_zone000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584578234281980349?api-version=2024-11-01&t=638793802580096681&c=MIIHhzCCBm-gAwIBAgITfAaTYo0ffVKAVQo0FAAABpNijTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDU[...]
[...]
