interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001","name":"cli_test_eh_namespace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-10T02:57:50Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008?api-version=2023-01-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008","name":"sb-identity1000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"36a532f9-64df-4344-bdcf-baefd83e19bd","clientId":"78473cbf-d2a6-48de-b3cf-4c0d88cb95dd"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/eventhubs-kv000012''
        under resource group ''cli_test_eh_namespace000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"azureclilivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"azureclilivetest@azuresdkteam.onmicrosoft.com","id":"6b30bdc6-696a-46fb-82d7-739c2fb147b7"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"BL02EPF000028A2"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012","name":"eventhubs-kv000012","type":"Microsoft.KeyVault/vaults","location":"northeurope","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-02-10T02:58:02.417Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-10T02:58:02.417Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://eventhubs-kv000012.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "36a532f[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eventhubs-kv000012.vault.azure.net/keys/key1/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eventhubs-kv000012.vault.azure.net/keys/key1/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://eventhubs-kv000012.vault.azure.net/keys/key1/19f313ba52e9453dbea6d9eae5f4a5f0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"6ZAhZizbvU8GucFEV6JW5_2eIRt3UzcdOIGSVx1LxMUIH0B0csh4tUpm1tZeVQMIvU1oM8zKTdvYUKwYPSb2vdnG06uukZ1rO6zk7Qlmg0KB86wVcZvmFdj9cULeKO7er-aqTOXgIROQZtSCgm4hkjgFQ_Z1BQXvShDFjKRk1HoMQDHj7TcpJ4LqmdT3DQLAzMv3w60MVI9wnbZcn8XAmPAvLMi3N5wrHq-D3ti8oqPtEwk0ROxarXOLNqX0YuEQ4UhZZlRRf51zRVJOswSUc-iCIlKJVjrVkLNEoriL-NxCjjI_nO5FrQ9ZPI9DYq9YGwQmq7_oySNeCMeflBtUSQ","e":"AQAB"},"attributes":{"enabled":true,"created":1675997927,"updated":1675997927,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned"}, "properties": {"publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"15cf518d-4e48-4934-98b0-fa0370053159","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"ActivatingIdentity","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:servicebus-nscli000003","createdAt":"2023-02-10T02:58:54.373Z","updatedAt":"2023-02-10T02:58:54.373Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "North Europe", "tags": {}, "sku": {"name": "Premium", "tier":
      "Premium", "capacity": 1}, "identity": {"type": "SystemAssigned"}, "properties":
      {"minimumTlsVersion": "1.2", "zoneRedundant": false, "encryption": {"keyVaultProperties":
      [{"keyName": "key1", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": ""}, {"keyName": "key2", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": ""}], "keySource": "Microsoft.KeyVault"}, "disableLocalAuth":
      false, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"15cf518d-4e48-4934-98b0-fa0370053159","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"encryption":{"keySource":"Microsoft.KeyVault","keyVaultProperties":[{"keyName":"key1","keyVaultUri":"https://eventhubs-kv000012.vault.azure.net","keyVersion":""},{"keyName":"key2","keyVaultUri":"https://eventhubs-kv000012.vault.azure.net","keyVersion":""}],"requireInfrastructureEncryption":false},"provisioningState":"Updating","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:servicebus-nscli000003","createdAt":"2023-02-10T02:58:54.373Z","updatedAt":"2023-02-10T03:06:45.167Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity2000009":
      {}}}, "properties": {"encryption": {"keyVaultProperties": [{"keyName": "key1",
      "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net", "keyVersion": "",
      "identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008"}},
      {"keyName": "key2", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": "", "identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008[...]
[...]
