interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001","name":"cli_test_eh_namespace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-10T03:17:53Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008?api-version=2023-01-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008","name":"sb-identity1000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"ad451c38-d027-43df-9b55-54541e1bb659","clientId":"5006018a-7ee9-47ad-b244-c36c96c0e17c"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity2000009":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity3000010":
      {}}}, "properties": {"publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"type":"UserAssigned"},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"Created","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:servicebus-nscli000003","createdAt":"2023-02-10T03:18:11.54Z","updatedAt":"2023-02-10T03:18:11.54Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000002?api-version=2022-01-01-preview
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/locations/northeurope/operationStatus/servicebus-nscli000002?api-version=2022-01-01-preview&resourceType=Namespace
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14994'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/locations/northeurope/operationStatus/servicebus-nscli000002?api-version=2022-01-01-preview&resourceType=Namespace
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/locations/northeurope/operationStatus/servicebus-nscli000002?api-version=2022-01-01-preview&resourceType=Namespace
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/locations/northeurope/operationStatus/servicebus-nscli000003?api-version=2022-01-01-preview&resourceType=Namespace
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 204
      message: No Content
version: 1
