interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rdbmsvault000002.vault.azure.net/keys/rdbmskey000003/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rdbmsvault000002.vault.azure.net/keys/rdbmskey000003/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://rdbmsvault000002.vault.azure.net/keys/rdbmskey000003/645f7869e36e46d085c6d16ee91072cc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"4YwmHHEYOzNDww9FeH8SaWb7bYV-pNtdqrtEm89pshgXPOlYdEIJnqW47xBnJbbptcDXZ8K2JYJUlCfyKExCqydLla5yIAJJ0Uy2qv3DsrHWyuapYNjd1lUE3DIJaBUfP_MmMAOFpeuL3SYFvAenrt8rXiZgHeXiadXiaE378qshmBL6nH2HFwyee7aC9V1zWDzONYTYmRKiIrUpMaRh636AqiAHJAEr1n-6rdTL-Z2jOIiJACP1lraqh7oWEOeXq2qGDuHTVtHJ5wuHwbdkL6P62kH0_Z0_-P7xr74ovq6JZlHNJBhjkRlAmnhEVneuovpl2H3LjHGfJg9jqt18IQ","e":"AQAB"},"attributes":{"enabled":true,"created":1676000674,"updated":1676000674,"recoveryLevel":"Recoverable","recoverableDays":90,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004?api-version=2023-01-31
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004","name":"identity000004","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"eastus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"aa4d5092-b26d-49f3-acce-c375ce7e0b3f","clientId":"98176c61-7ba4-4263-9a40-c865213d9df7"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/rdbmsvault000002?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/rdbmsvault000002","name":"rdbmsvault000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-02-10T03:44:00.899Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-10T03:44:00.899Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enablePurgeProtection":true,"vaultUri":"https://rdbmsvault000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "aa4d5092-b26[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-10T03:43:59Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "azuredbclitest-000007", "type": "Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/checkNameAvailability?api-version=2022-12-01
  response:
    body:
      string: '{"name":"azuredbclitest-000007","type":"Microsoft.DBforPostgreSQL/flexibleServers","nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/capabilities?api-version=2022-12-01
  response:
    body:
      string: '{"value":[{"zone":"none","geoBackupSupported":true,"zoneRedundantHaSupported":true,"zoneRedundantHaAndGeoBackupSupported":true,"supportedFlexibleServerEditions":[{"name":"Burstable","supportedStorageEditions":[{"name":"ManagedDisk","supportedStorageMB":[{"name":"32768","supportedIOPS":120,"storageSizeMB":32768,"status":"Available"},{"name":"65536","supportedIOPS":240,"storageSizeMB":65536,"status":"Available"},{"name":"131072","supportedIOPS":500,"storageSizeMB":131072,"status":"Available"},{"name":"262144","supportedIOPS":1100,"storageSizeMB":262144,"status":"Available"},{"name":"524288","supportedIOPS":2300,"storageSizeMB":524288,"status":"Available"},{"name":"1048576","supportedIOPS":5000,"storageSizeMB":1048576,"status":"Available"},{"name":"2097152","supportedIOPS":7500,"storageSizeMB":2097152,"status":"Available"},{"name":"4194304","supportedIOPS":7500,"storageSizeMB":4194304,"status":"Available"},{"name":"8388608","supportedIOPS":16000,"storageSizeMB":8388608,"status":"Available"},{"name":"16777216","supportedIOPS":18000,"storageSizeMB":16777216,"status":"Available"},{"name":"33553408","supportedIOPS":20000,"storageSizeMB":33553408,"status":"Available"}],"status":"Default"}],"supportedServerVersions":[{"name":"11","supportedVcores":[{"name":"Standard_B1ms","vCores":1,"supportedIOPS":640,"supportedMemoryPerVcoreMB":2048,"status":"Available"},{"name":"Standard_B2s","vCores":2,"supportedIOPS":1280,"supportedMemoryPerVcoreMB":2048,"status":"Available"}],"status":"Available"},{"name":"12","supportedVcores":[{"name":"Standard_B1ms","vCores":1,"supportedIOPS":640,"supportedMemoryPerVcoreMB":2048,"status":"Available"},{"name":"Standard_B2s","vCores":2,"supportedIOPS":1280,"supportedMemoryPerVcoreMB":2048,"status":"Available"}],"status":"Available"},{"name":"13","supportedVcores":[{"name":"Standard_B1ms","vCores":[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard_D2s_v3", "tier": "GeneralPurpose"},
      "identity": {"userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004":
      {}}, "type": "UserAssigned"}, "properties": {"administratorLogin": "morbidcake5",
      "administratorLoginPassword": "RzzaDuPp0rvlXLbxQiTJdQ", "version": "13", "storage":
      {"storageSizeGB": 128}, "authConfig": {"activeDirectoryAuth": "Disabled", "passwordAuth":
      "Enabled", "tenantId": ""}, "dataEncryption": {"primaryKeyURI": "https://rdbmsvault000002.vault.azure.net/keys/rdbmskey000003/645f7869e36e46d085c6d16ee91072cc",
      "primaryUserAssignedIdentityId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004",
      "type": "AzureKeyVault"}, "backup": {"backupRetentionDays": 7, "geoRedundantBackup":
      "Disabled"}, "network": {"delegatedSubnetResourceId": "", "privateDnsZoneArmResourceId":
      ""}, "highAvailability": {"mode": "Disabled"}, "createMode": "Create"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000007?api-version=2022-12-01
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2023-02-10T03:44:49.097Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/dfadb3f8-f5b3-4468-a7b2-32f92ec92b78?api-version=2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/dfadb3f8-f5b3-4468-a7b2-32f92ec92b78?api-version=2022-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/dfadb3f8-f5b3-4468-a7b2-32f92ec92b78?api-version=2022-12-01
  response:
    body:
      string: '{"name":"dfadb3f8-f5b3-4468-a7b2-32f92ec92b78","status":"InProgress","startTime":"2023-02-10T03:44:49.097Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000007?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Standard_D2s_v3","tier":"GeneralPurpose"},"identity":{"userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004":{"principalId":"aa4d5092-b26d-49f3-acce-c375ce7e0b3f","clientId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}},"type":"UserAssigned","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"systemData":{"createdAt":"2023-02-10T03:44:55.1907175Z"},"properties":{"authConfig":{"activeDirectoryAuth":"Disabled","passwordAuth":"Enabled"},"dataEncryption":{"type":"AzureKeyVault","primaryKeyURI":"https://rdbmsvault000002.vault.azure.net/keys/rdbmskey000003/645f7869e36e46d085c6d16ee91072cc","primaryUserAssignedIdentityId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004"},"fullyQualifiedDomainName":"azuredbclitest-000007.postgres.database.azure.com","version":"13","minorVersion":"9","administratorLogin":"morbidcake5","state":"Ready","availabilityZone":"1","storage":{"storageSizeGB":128},"backup":{"backupRetentionDays":7,"geoRedundantBackup":"Disabled","earliestRestoreDate":"2023-02-10T03:44:55.1907175+00:00"},"network":{"publicNetworkAccess":"Enabled"},"highAvailability":{"mode":"Disabled","state":"NotEnabled"},"maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0},"replicationRole":"Primary","replicaCapacity":5},"location":"East
        US","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000007","name":"azuredbclitest-000007","type":"Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"charset": "utf8", "collation": "en_US.utf8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000007/databases/flexibleserverdb?api-version=2022-12-01
  response:
    body:
      string: '{"operation":"UpsertServerDatabaseManagementOperation","startTime":"2023-02-10T03:48:50.703Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/d1562c3b-7ea8-4b43-86a3-3058a156d5bb?api-version=2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/d1562c3b-7ea8-4b43-86a3-3058a156d5bb?api-version=2022-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/East%20US/capabilities?api-version=2022-12-01
  response:
    body:
      string: '{"value":[{"zone":"none","geoBackupSupported":true,"zoneRedundantHaSupported":true,"zoneRedundantHaAndGeoBackupSupported":true,"supportedFlexibleServerEditions":[{"name":"Burstable","supportedStorageEditions":[{"name":"ManagedD[...]
[...]
- request:
    body: '{"location": "eastus", "identity": {"userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004":
      {}}, "type": "UserAssigned"}, "properties": {"dataEncryption": {"primaryKeyURI":
      "https://rdbmsvault000002.vault.azure.net/keys/rdbmskey000003/645f7869e36e46d085c6d16ee91072cc",
      "primaryUserAssignedIdentityId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004",
      "type": "AzureKeyVault"}, "network": {}, "sourceServerResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000007",
      "availabilityZone": "1", "createMode": "Replica"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000008?api-version=2022-12-01
  response:
    body:
      string: '{"operation":"CreateReadReplicaManagementOperation","startTime":"2023-02-10T03:49:04.833Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/028c72b6-7e5c-4a3e-abf5-29d1d01d675e?api-version=2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/028c72b6-7e5c-4a3e-abf5-29d1d01d675e?api-version=2022-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/capabilities?serverName=azuredbclitest-000007&api-version=2022-12-01
  response:
    body:
      string: '{"value":[{"zone":"none","geoBackupSupported":true,"zoneRedundantHaSupported":true,"zoneRedundantHaAndGeoBackupSupported":true,"supportedFlexibleServerEditions":[{"name":"Burstable","supportedStora[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/East%20US/azureAsyncOperation/0e113c18-83d3-444a-8d29-ac50dbd891fd?api-version=2022-12-01
  response:
    body:
      string: '{"name":"0e113c18-83d3-444a-8d29-ac50dbd891fd","status":"InProgress","startTime":"2023-02-10T03:59:27.63Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/East%20US/operationResults/0e113c18-83d3-444a-8d29-ac50dbd891fd?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "identity": {"userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004":
      {}}, "type": "UserAssigned"}, "properties": {"dataEncryption": {"primaryKeyURI":
      "https://rdbmsvault000002.vault.azure.net/keys/rdbmskey000003/645f7869e36e46d085c6d16ee91072cc",
      "primaryUserAssignedIdentityId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity000004",
      "type": "AzureKeyVault"}, "backup": {"backupRetentionDays": 7, "geoRedundantBackup":
      "Disabled"}, "network": {}, "sourceServerResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000007",
      "pointInTimeUTC": "2023-02-10T04:00:13.000Z", "createMode": "PointInTimeRestore"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000010?api-version=2022-12-01
  response:
    body:
      string: '{"operation":"RestoreSnapshotManagementOperation","startTime":"2023-02-10T04:00:15.093Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/92e11382-d8d4-4b77-907d-98d11616db8d?api-version=2022-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/92e11382-d8d4-4b77-907d-98d11616db8d?api-version=2022-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 202
      message: Accepted
[...]
